.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  flex-grow: 1;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .spinner {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  .error {
    color: red;
  }

  form {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;

    label {
      margin-bottom: 8px;
      font-size: 10pt;
    }

    input{
      border-radius: 4px;
      outline: none;
    }

    input[type=text], input[type=email] {
      height: 30px;
      margin-bottom: 25px;
      padding: 3px 10px;
      border: solid 1px #00000020;
    }

    input[type=submit] {
      margin-top: 30px;
      height: 50px;
      background-color: #66AC5C;
      font-weight: bold;
      color: white;
      border: none;
      font-size: 10pt;
      cursor: pointer;

      &:disabled {
        background-color: lightgray;
      }
    }
  }
}

@media only screen and (min-device-width: 480px) {
  .App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 500px;
    min-width: 500px;
    max-height: 100vh;
    max-width: 100vh;
    border-radius: 12px;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.18);
  }
}