.Onboarding {
  height: inherit;
  width: inherit;

  .inner {
    padding: 20px;
    min-height: 600px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    line-height: 1.6;
    margin: 25px 0px;
  }
}

@media (min-width: 500px) {
  .inner {
    width: inherit;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}