@import "../../assets/styles/variables.scss";

.Onboarding {
  height: inherit;
  width: inherit;

  .inner {
    padding: 20px;
    min-height: 600px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    line-height: 1.6;
    margin: 25px 0px;
  }

  .EditProfile, .Subscribe {
    input[type=submit] {
      background-color: $blue;

      &:disabled {
        background-color: lightgrey;
      }
    }

    .error {
      color: red;
      margin: 20px 0px;
      font-weight: bold;
      font-size: 10pt;
    }
  }

  .continue {
    margin-top: 30px;
    height: 50px;
    background-color: $blue;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 10pt;
    cursor: pointer;
    width: 100%;
  }
}

@media (min-width: 500px) {
  .inner {
    width: inherit;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}