@import "../../../../assets/styles/variables.scss";

.PaymentMethod {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border: solid 2px #F2F2F2;

  .pm-left {
    flex-grow: 1;

    p {
      margin: 0px;
      
      &:first-of-type {
        font-size: 12pt;
        line-height: 30px;
        font-weight: 500;
        color: rgba(0,0,0,0.9);

        span {
          text-transform: capitalize;
        }
      }

      &:last-of-type {
        font-size: 9pt;
        margin-bottom: 8px;
      }
    }
  }

  .pm-right {
    display: flex;

    p {
      background-color: rgba($color: $blue, $alpha: 0.2);
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 9pt;
      font-weight: 500;
      color: $blue;
      height: fit-content;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      cursor: default;

      &.make-default {
        color: grey;
        background-color: rgba($color: grey, $alpha: 0.1);
        cursor: pointer;

        &:hover {
          color: $green;
          background-color: rgba($color: $green, $alpha: 0.2);
        }
      }
    }

    img {
      height: 15px;
      opacity: 0.4;
      padding: 10px;
      cursor: pointer;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: -10px;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .PaymentMethod {
    padding: 8px 15px;
    .pm-left {
      p {
        &:first-of-type {
          font-size: 10pt;
        }
      }
    }
  }
}