@import "../../../../assets/styles/variables.scss";

.PaymentMethod {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border: solid 2px #F2F2F2;

  .pm-left {
    flex-grow: 1;

    p {
      margin: 0px;
      
      &:first-of-type {
        font-size: 12pt;
        line-height: 30px;
        font-weight: 500;

        span {
          text-transform: capitalize;
        }
      }

      &:last-of-type {
        font-size: 9pt;
        margin-bottom: 8px;
      }
    }
  }

  .pm-right {
    position: relative;
    width: 20px;

    img {
      height: 15px;
      opacity: 0.4;
      padding: 10px;
      cursor: pointer;
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        opacity: 1;
      }
    }
  }
}