.App {
  height: inherit;
  width: inherit;
}

.Loading {
  .spinner {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
}

h3, label {
  margin-top: 0px;
  margin-bottom: 12px;
  line-height: 25px;
  font-size: 10pt;
  font-weight: 600;
}

form {
  input{
    border-radius: 4px;
    outline: none;
  }

  label {
    margin-bottom: 7px;
  }

  input[type=text], input[type=email], input[type=password] {
    height: 30px;
    margin-bottom: 25px;
    padding: 3px 10px;
    border: solid 1px #00000020;
  }

  input[type=submit] {
    margin-top: 10px;
    height: 50px;
    background-color: #66AC5C;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 10pt;
    cursor: pointer;
    width: 100%;

    &:disabled {
      background-color: lightgray;
    }
  }
}