@import './global.scss';

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6;
}

#root {
  height: 100%;
  width: 100%;
}

a, p, h1, h2, h3, h4, h5, tr, th, button, input, label {
  font-family: 'Public Sans', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 20pt;
  margin: 20px 0px 40px 0px;
}

h4 {
  font-weight:700;
  font-size: 11.5pt;
  margin: 10px 0px;
}

p {
  font-size: 10.5pt;
  line-height: 1.7;
}

section {
  background-color: $lightgrey;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px #00000010;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 5px 0px #00000018;
  }
}

header {
  min-height: 44px;
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: row;

  h1 {
    flex-grow: 1;
    margin: auto 0px;
  }

  button {
    margin-left: 15px;
  }
}

.btn {
  background-color: rgba($color: $blue, $alpha: 0.2);
  border: none;
  height: 44px;
  border-radius: 22px;
  color: $blue;
  display: flex;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  min-width: 120px;

  img {
    height: 15px;
    margin: auto 10px auto 0px;
    filter: $blueFilter;
  }
  
  p {
    font-weight: 600;
    margin: 0px;
    font-size: 10pt;
    flex-grow: 1;
    text-align: center;
  }

  &.danger {
    background-color: rgba($color: $red, $alpha: 0.2);
    color: $red;
  }
}

table {
  text-align: left;
  border-collapse: collapse;
  border-spacing:0px;
  border: none;
  width: 100%;
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
  
  td, th {
    padding-left: 5px;
    padding-right: 5px;
  }

  thead {
    th {
      border-bottom: solid 2px #00000010;
      font-weight: 500;
      font-size: 10pt;
      padding-bottom: 15px;
    }
  }

  tbody {
    tr {
      height: 50px;
      &:hover {
        background-color: #00000002;
      }
      
      td {
        font-size: 10pt;
        border-bottom: solid 1px #00000010;

        button {
          cursor: pointer;
          border: none;
          font-size: 10pt;
          padding: 10px;
          margin-left: -10px;
          margin-right: 15px;
          font-weight: 500;
          outline: none;

          &:last-of-type {
            margin-right: 0px;
          }

          &:hover {
            color: $blue;
          }

          &.danger {
            &:hover {
              color: $red;
            }
          }
          
          &.warning {
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  label, input, select {
    font-size: 10pt;
  }

  label {
    font-weight: 500;
    line-height: 30px;
  }

  input, select {
    margin: 3px 0px 25px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: solid 1px #00000020;
    outline: none;
    line-height: 1.6;
    background-color: transparent;
    height: 44px;
  }
}