html, body, .page-wrapper {
  background-color: #fff;
}
.toc-wrapper {
  border-right: 1px solid whitesmoke;
}
.toc-wrapper .logo {
  margin: 25px;
  max-width: 150px;
}
.toc-link, .toc-footer, .toc-wrapper li, .toc-wrapper .search-results a {
  color: #0c2e47;
}
.toc-wrapper .toc-footer li, .toc-wrapper .toc-footer a {
  color: #0c2e47;
}
.toc-wrapper, .toc-wrapper>.search input, .toc-wrapper .toc-list-h2, .toc-wrapper .search-results, .page-wrapper .dark-box {
  background-color: #fff;
}
.toc-wrapper>.search input {
  color: #333;
  font-weight: 400;
  background: #fff;
  border: 0;
  border-bottom: 1px solid whitesmoke;
}
.toc-wrapper .search-results.visible {
  height: auto;
}
.toc-wrapper .toc-link.active {
  background-color: #fff;
  font-weight: 800;
  color: #0c2e47;
}
.toc-wrapper .toc-link.active-parent, .lang-selecto, .lang-selector, .lang-selector a {
  background-color: #fff;
  color: black;
}
.toc-wrapper .toc-footer {
  border-top: 1px solid whitesmoke;
}
.content h2 {
  border-top: 2px solid whitesmoke;
}
.lang-selector a.active {
  background-color: whitesmoke;
  color: black;
}
.page-wrapper .lang-selector {
  border-bottom: 3px solid whitesmoke;
}
.highlight  {
  margin: 10px;
}
