.Settings {
  .section {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  
    button {
      width: fit-content;

      &.fixed-width {
        width: 210px;
      }
    }

    h3 {
      margin-bottom: 0px;
    }

    p {
      margin: 10px 0px;
    }

    .code {
      background-color: #1E1E1E;
      border: none;
      padding: 15px;
      color: white;
      outline: none;
      margin-bottom: 15px;
      text-overflow: ellipsis;
      font-family: "Source Code Pro";
      font-weight: 600;
      font-size: 10pt;
      border-radius: 4px;
    }
  }
}